<table class="categories-nav">
	<tbody>
		<tr class="categories">
			<td class="primary cell active">
				<div class="mark"></div>
				<div class="text"><i class="fa fa-inbox"></i>Primary</div>
			</td>
			<td class="social cell">
				<div class="mark"></div>
				<div class="text"><i class="fa fa-group"></i>Social</div>
			</td>
			<td class="promotion cell">
				<div class="mark"></div>
				<div class="text"><i class="fa fa-tags"></i>Promotion</div>
			</td>
			<td class="updates cell">
				<div class="mark"></div>
				<div class="text"><i class="fa fa-exclamation-circle"></i>Updates</div>
			</td>
			<td class="forums cell">
				<div class="mark"></div>
				<div class="text"><i class="fa fa-comments"></i>Forums</div>
			</td>
		</tr>
		<tr class="categories-bar">
			<td colspan="5">
				<div></div>
			</td>
		</tr>
	</tbody>
</table>

<div class="emails">
<div class="email-list" ng-repeat="email in emails">
	<a href="#/imail/inbox/{{ email.id }}">
	<div class="email">
		<div class="email-sender">
			<span>{{ email.sender_name }}</span>
		</div>
		<div class="email-subject">
			<span>{{ email.subject }}</span>
		</div>
		<div class="email-time">
			<span>{{ email.created_at | monthday }}</span>
		</div>
		<!-- <a ui-sref='imail.email({emailId: email.id})'>{{ email.subject }}</a> -->
	</div>
	</a>
</div>
</div>