<h1 style="text-align: center; font-size: 50px; margin-top: 50px !important; margin-bottom: 30px;"><i class="fa fa-envelope-o" style="margin-right: 10px;"></i>Imail</h1>
<div class="login-box">
	<div class="box-title">
		<h2>Login</h2>
	</div>
	<div class="login-form">
		<form ng-submit="login(credentials)">
			<input class="topcoat-text-input--large" type="email" name="account" ng-model="credentials.account" placeholder="email account">
			<input class="topcoat-text-input--large" type="password" name="password" ng-model="credentials.password" placeholder="password">
			<button class="topcoat-button--large--cta" type="submit">Login</button>
		</form>
	</div>
</div>