<div class="login-box">
	<div class="box-title">
		<h1>Imail</h1>
	</div>
	<div class="login-form">
		<form ng-submit="login(credentials)">
			<input class="topcoat-text-input--large" type="email" name="account" ng-model="credentials.account" placeholder="email account">
			<input class="topcoat-text-input--large" type="password" name="password" ng-model="credentials.password" placeholder="password">
			<button class="topcoat-button--large--cta" type="submit">Login</button>
		</form>
	</div>
</div>