/**
 * Global style
 */
html {
  height: 100%; }

body {
  background: #FFFFFF;
  height: 100%; }

button:hover, input[type='submit'], a.btn {
  cursor: pointer; }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

a:visited, a:link, a:hover, a:active, a:not(.btn) {
  color: black; }

.container {
  height: 100%;
  overflow-y: hidden; }

/**
 * Login page
 */
.login-box {
  width: 30%;
  height: auto;
  margin: 10% auto 0 auto;
  padding: 22px 0;
  background: #dfe2e2;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
  .login-box .box-title {
    text-align: center; }
  .login-box .login-form {
    padding: 1em 10%; }
    .login-box .login-form input[name='account'], .login-box .login-form input[name='password'] {
      display: block;
      width: 100%;
      margin-bottom: 1em;
      height: 44px; }
    .login-box .login-form button[type='submit'] {
      width: 100%;
      height: 44px; }

/**
 * App header
 */
.imail-header {
  height: 42px;
  width: calc(100% - 64px);
  background: #dfe2e2;
  border-bottom: 1px solid #bbbbbb;
  padding: 18px 32px 0px 32px;
  position: fixed;
  top: 0;
  z-index: 50;
  display: block; }
  .imail-header .app-title {
    float: left; }
  .imail-header .account-section {
    float: right;
    display: inline-block; }
    .imail-header .account-section .account-name {
      margin-right: 10px; }

/**
 * App sidebar
 */
.imail-sidebar {
  float: left;
  width: 202px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 50; }
  .imail-sidebar .action-list {
    padding: 0px 1em 0 2em; }
    .imail-sidebar .action-list .compose-btn {
      text-align: center;
      font-size: 18px;
      padding: 5px 20px;
      margin-bottom: 20px;
      color: white; }

/**
 * Inbox
 */
.inbox {
  width: calc(100% - 202px);
  float: left;
  overflow-y: auto;
  position: relative;
  top: 60px;
  left: 202px; }
  .inbox .emails {
    width: calc(100% - 32px); }
  .inbox .email {
    padding: 10px 15px;
    border-bottom: 1px solid #bbbbbb;
    background: #dfe2e2; }
    .inbox .email .email-sender {
      width: 20%;
      float: left; }
    .inbox .email .email-subject {
      width: 70%;
      float: left; }
    .inbox .email .email-time {
      text-align: right; }
  .inbox .email:hover {
    cursor: pointer;
    background: #b6b6b6; }

/**
 * Gmail scrollbar style
 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar:hover {
  background-color: #eee; }

::-webkit-resizer {
  -webkit-border-radius: 4px;
  background-color: #666; }

::-webkit-scrollbar-thumb {
  min-height: 0.8em;
  min-width: 0.8em;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb; }

::-webkit-scrollbar-thumb:active {
  background-color: #888; }

.categories-nav {
  border-top: 1px solid #bbbbbb;
  width: calc(100% - 32px);
  border-spacing: 0px;
  margin-top: 16px; }
  .categories-nav .categories td {
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    position: relative;
    width: 20%;
    background: #dfe2e2; }
    .categories-nav .categories td .text {
      padding-left: 15px;
      padding-top: 5%;
      padding-bottom: 5%; }
  .categories-nav .text .fa {
    margin-right: 10px; }
  .categories-nav .mark {
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  .categories-nav td.active {
    border-bottom: 0px;
    background: #FFFFFF; }
  .categories-nav .categories-bar td {
    border-bottom: 1px solid #bbbbbb; }
    .categories-nav .categories-bar td div {
      height: 10px; }
  .categories-nav .cell:hover {
    cursor: pointer; }
  .categories-nav .primary.active .mark {
    background: black; }
  .categories-nav .social.active .mark {
    background: #4884E3; }
  .categories-nav .promotion.active .mark {
    background: #16A665; }
  .categories-nav .updates.active .mark {
    background: #E9B330; }
  .categories-nav .forums.active .mark {
    background: #A379E1; }
  .categories-nav .primary:hover .mark {
    background: black; }
  .categories-nav .social:hover .mark {
    background: #4884E3; }
  .categories-nav .promotion:hover .mark {
    background: #16A665; }
  .categories-nav .updates:hover .mark {
    background: #E9B330; }
  .categories-nav .forums:hover .mark {
    background: #A379E1; }

/**
 * Email details
 */
.email-details {
  padding: 10px 15px; }
  .email-details .email-top .subject {
    font-size: 25px;
    padding-bottom: 16px;
    border-bottom: 1px solid #bbbbbb; }
  .email-details .email-from {
    border-bottom: 1px dashed #bbbbbb;
    padding-bottom: 16px; }
    .email-details .email-from .time {
      float: right; }
